@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  font-family: 'Overpass', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  color: #FFFFFF;
}

body {
  min-height: 95vh;

  display: flex;
  /* alinhamento do 'container' no eixo X (horizontal)*/
  justify-content: center;
  /* alinhamento do 'container' no eixo Y (vertical)*/
  align-items: center;

  background-color: #131518;
}

.container {
  height: 25.8rem;
  width: 25.2rem;
  border-radius: 1.9rem;
  padding: 3.2rem;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);


  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 100%;
  background: rgba(38, 46, 56, 1);
  color: #7C8798;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 1.35rem;
  height: auto;
}


.content {
  margin-bottom: 1rem;
}

.content p {
  font-size: 110%;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 1.8rem;
  color: #969FAD;
}

#score {
  display: flex;
  justify-content: space-between;
}
.rate {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 100%;
  background: rgba(38, 46, 56, 1);
  color: #7C8798;
  font-size: 110%;
}
.buttom-submit {
  background-color: #fc7614;
  color: white;
  height: 2.8rem;
  width: 25rem;
  border-radius: 1.5rem;
  font-size: 110%;

  letter-spacing: 2px;
}


/* açoes do usuario */

.rate:hover{
background-color: #7C8798;
color: #FFFFFF;
}

.rate:focus{
  background-color: #fc7614;
  color: #FFFFFF;
}

.buttom-submit:hover{
  color: #fc7614;
  background-color: #FFFFFF;
}