@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  font-family: 'Overpass', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  color: #ffffff;
}

footer{
  margin-top: 2rem;
  text-align: bottom;
}

body {
  min-height: 95vh;
  min-width: 95vw;
  display: flex;
  /* alinhamento do 'container' no eixo X (horizontal)*/
  justify-content: center;
  /* alinhamento do 'container' no eixo Y (vertical)*/
  align-items: center;
  flex-direction: column;
  background-color: #131518;
}

.container {
  height: 25.8rem;
  width: 25.2rem;
  border-radius: 1.9rem;
  padding: 3.2rem;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 100%;
  background: rgba(38, 46, 56, 1);
  color: #7c8798;
  display: flex;
  justify-content: center;
  align-items: center;
}
#icon-stare {
  width: 1.35rem;
  height: auto;
}

.content h1{
  margin-bottom: 1rem;
}

.content p {
  font-size: 110%;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 1.8rem;
  color: #969fad;
}

#score {
  display: flex;
  justify-content: space-between;
}
.rate {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 100%;
  background: rgba(38, 46, 56, 1);
  color: #7c8798;
  font-size: 110%;
}
.submit-btn {
  background-color: #fc7614;
  color: white;
  height: 2.8rem;
  width: 25rem;
  border-radius: 1.5rem;
  font-size: 110%;

  letter-spacing: 2px;
}

/* açoes do usuario */

.rate:hover {
  background-color: #7c8798;
  color: #ffffff;
  transition: 300ms;
}

.rate:focus {
  background-color: #fc7614;
  color: #ffffff;
}

.submit-btn:hover {
  color: #fc7614;
  background-color: #ffffff;
  transition: 400ms;
}

/* pagina 2 */

.hidden {
  display: none;
}

#hidden-container {
  min-height: 25.8rem;
  min-width: 25.2rem;
  align-items: center;
  justify-content: space-between;

  margin-left: 0.5rem;
}

#illustration-thank-you {
  width: 10rem;
  height: auto;
}

#score-reader p {
  color: #fc7614;
  background-color: rgba(38, 46, 56, 1);

  width: 11rem;
  height: 2rem;
  padding-inline: 1rem;
  padding-block: 0.4rem;
  stroke: #979797;
  border-radius: 1.5rem;

  display: flex;
  align-items: center;
}

#rating{
  display: inline-block; margin: 0 0.3rem;
  color:#fc7614
}

#thanks-note {
  text-align: center;
}

